<div class="container" style="margin-top:10em">
    <div class="row">
        {{#each animes}}
            <div class="col-4 mt-2">
                <div class="card" style="width: 70%;">
                <img src="/{{imagen}}" class="card-img-top" alt="Descripcion de la imagen">
                <div class="card-body">
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">{{descripcion}}</p>
                    <a href="/animes/{{id}}" class="btn btn-primary btn-block">Ver más</a>
                </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>