    <section class="" style="margin-top:10em;">
      <div class="container">
        <div class="row">

            <div class="col-8">
                <img src="/{{anime.imagen}}" style="width:80%; height:auto;">
            </div>
            <div class="col-4 mt-5">
                <h2>{{anime.nombre}}</h2>
                <p>{{anime.descripcion}}</p>
                
                
            </div>

        </div>
      </div>
    </section> <!-- .section -->