<div class="row justify-content-center" style="margin-top: 10em;">
        <div class="col-12">
            <h4>Registrese</h4>

        </div>
        <div class="col-4">

            <form method="post" action="/registro">

                
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control">
                </div>

                
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="email" class="form-control" id="correo" name="correo">
                </div>

                <div class="form-group">
                    <label for="pass">Contraseña</label>
                    <input type="password" name="pass" id="pass" class="form-control">
                </div>

                
                <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                <span class="text-success">{{message}}</span>
            </form>
            <a href="/login">Ya tenes cuenta? Iniciar sesion</a>
        </div>

    </div>
    
</div>